.counter {
  display: flex;
}

.btn {
  padding: 10px 15px;
  background-color: #fa8146;
  border-radius: 8px;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  border: 1px solid #fa8146;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  margin: 0 10px;
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
}

.btn.disabled {
  cursor: default;
  opacity: 0.8;
}
