.register {
  max-width: 620px;
  width: 100%;
  margin: 120px auto 0;
}

@media (max-width: 840px) {
}

@media (max-width: 640px) {
}

@media (max-width: 540px) {
  .register .row {
    display: block;
  }
}

@media (max-width: 440px) {
}
